{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-8">
          <input type="text" class="form-control" id="addr" value="{{ addr }}">
        </div>
        <div class="col-xs-4">
          <button id="getdata" class="btn btn-primary">Get</button>
        </div>
        <div class="col-xs-12">
          <div id="main" style="width: 100%;height:400px;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(function(){
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var XRPAmount = [], CNYAmount = [], xtime = [];
    var addr = '{{ addr }}';

    // 指定图表的配置项和数据
    var option = {
      title: {
        text: 'Ripple Personal Charts',
        subtext: addr
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data:['CNY数量', 'XRP数量']
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
      },
      yAxis: {
        type: 'value'
      },
      series: []
    };
    myChart.setOption(option);

    updataData(addr);

    $('#getdata').click(function(){
      updataData($('#addr').val());
    });

    function updataData(addr) {
      $.get('/detail/' + addr, function(res){
        if(res) {
          XRPAmount = [], CNYAmount = [], xtime = [];
          // console.log(res);
          for(var i in res) {
            xtime.push(res[i].logtime);
            XRPAmount.push(res[i].xrp);
            CNYAmount.push(res[i].cny);
          }
          // console.log(xtime, XRPAmount, CNYAmount);
          option = {
            xAxis: {
              data: xtime
            },
            series: [{
              name: 'CNY数量',
              type: 'line',
              data: CNYAmount
            },{
              name: 'XRP数量',
              type: 'line',
              data: XRPAmount
            }]
          };
          // console.log(option);
          myChart.setOption(option);
        }
      }, 'json');
    }
  })
</script>
{% endblock %}
