{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-8">
          <input type="text" class="form-control" id="addr" value="{{ addr }}">
        </div>
        <div class="col-xs-4">
          <button id="getdata" class="btn btn-primary">Get</button>
        </div>
        <div class="col-xs-12">
          <div id="main" style="width: 100%;height:400px;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(function(){
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var XRPAmount = [], CNYAmount = [], xtime = [], price = [], XRPValue = [], CNYValue = [];
    var addr = '{{ addr }}';

    // 指定图表的配置项和数据
    var option = {
      title: {
        text: 'Ripple Personal Charts'
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross'
        }
      },
      legend: {
        data:['CNY数量', 'XRP数量', '价格', 'XRP价值', 'CNY价值']
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
      },
      yAxis: [
        {
          type: 'value',
          name: '数量',
          position: 'left'
        },
        {
          type: 'value',
          name: '价格',
          position: 'right'
        }
      ],
      series: []
    };
    myChart.setOption(option);

    updataData(addr);

    $('#getdata').click(function(){
      updataData($('#addr').val());
    });

    function updataData(addr) {
      $.get('/detail/' + addr, function(res){
        if(res) {
          XRPAmount = [], CNYAmount = [], xtime = [], price = [], XRPValue = [], CNYValue = [];
          // console.log(res);
          for(var i in res) {
            xtime.push(res[i].logtime);
            XRPAmount.push(parseNum(res[i].xrp, 4));
            CNYAmount.push(parseNum(res[i].cny, 4));
            price.push(parseNum(res[i].price, 4));
            XRPValue.push(parseNum( parseFloat(res[i].cny) / parseFloat(res[i].price) + parseFloat(res[i].xrp), 4 ));
            CNYValue.push(parseNum( parseFloat(res[i].xrp) * parseFloat(res[i].price) + parseFloat(res[i].cny), 4 ));
          }
          // console.log(xtime, XRPAmount, CNYAmount);
          option = {
            xAxis: {
              data: xtime
            },
            series: 
            [
              {
                name: 'CNY数量',
                type: 'line',
                data: CNYAmount,
                yAxisIndex: 0
              },{
                name: 'XRP数量',
                type: 'line',
                data: XRPAmount,
                yAxisIndex: 0
              },{
                name: '价格',
                type: 'line',
                data: price,
                yAxisIndex: 1
              },{
                name: 'XRP价值',
                type: 'line',
                data: XRPValue,
                yAxisIndex: 0
              },{
                name: 'CNY价值',
                type: 'line',
                data: CNYValue,
                yAxisIndex: 0
              }
            ]
          };
          // console.log(option);
          myChart.setOption(option);
        }
      }, 'json');
    }

    function parseNum(num, i) {
      return Number(num).toFixed(i);
    }
  })
</script>
{% endblock %}
