{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="main" style="width: 100%;height:400px;"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(function(){
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var XRPAmount = [], CNYAmount = [], xtime = [];
    var addr = '{{ addr }}';

    // 指定图表的配置项和数据
    var option = {
      title: {
        text: 'Ripple Personal Charts',
        subtext: addr
      },
      tooltip: {},
      legend: {
        data:['CNY数量', 'XRP数量']
      },
      xAxis: {
        data: []
      },
      yAxis: {},
      series: []
    };
    myChart.setOption(option);

    $.get('/detail/' + addr, function(res){
      // console.log(res);
      for(var i in res) {
        xtime.push(res[i].logtime);
        XRPAmount.push(res[i].xrp);
        CNYAmount.push(res[i].cny);
        option = {
          xAxis: {
            data: xtime
          },
          series: [{
            name: 'CNY数量',
            type: 'line',
            data: CNYAmount
          },{
            name: 'XRP数量',
            type: 'line',
            data: XRPAmount
          }]
        };
        myChart.setOption(option);
      }
    }, 'json');    
  })
</script>
{% endblock %}
